.container{
    background-color: rgb(52, 50, 50);
   width: 35%;
    
    
    
}
h4,p,h6{
    color: white;
}
h3{
  color: tomato;
}
.row{
   
    padding: 40px 10px;
    

}
i{
    color: aqua;
}
col-md-9{
    text-align: center;
}
.text{
    text-align: center;
}